/* HEADERBAR */
.menu-container {
	width: 100%;
	max-width: 640px;
	height: 80px;
	position: absolute;
	top: 0;
	left: 0;
	border-bottom: 1px solid #435863;
	background-color: #435863;
	box-sizing: border-box;
	z-index: 999;
}

.menu-container * {
	/*font-family: 'Montserrat';*/
	font-size: 16px;
	box-sizing: border-box;
}

/*position: relative;
height: 56px;
z-index: 997;*/

.menu-content {

}


.carousel-item img {
	width: 360px;
	height: 200px;
}

nav .brand-logo.left.main-title-page {
	left: 5.5rem;
}


ul.sidenav li a.sidenav-close {
	padding-right: 0;
}

ul.sidenav li a.sidenav-close i {
	margin-right: 20px;
}
/*
div.close-button {
	line-height: 48px;
}*/

/*div.close-button a {
	color: rgba(0,0,0,0.87);
	display: block;
	font-size: 14px;
	font-weight: 500;
	height: 48px;
	line-height: 48px;
	padding: 0 0 32px 32px;
}

div.close-button a i {
	height: 48px;
	line-height: 48px;
	margin: 0 32px 0 0;
    margin-right: 20px;
	width: 24px;
	color: rgba(0,0,0,0.54);
}*/

#search-slide-out {
	width: 100%;
}

#search-box {
	margin: 3rem 3rem 1rem 1rem;
}

.slider .slides li .caption {
	top: 70%;
	left: 5%;
}

.footer-copyright {
	padding-top: 1rem;
	padding-bottom: 1rem;
}


div.card .card-image img.mini-image {
	height: 8rem;
}

div.card .card-content.mini-card-content {
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 12px;
	padding-right: 12px;
	min-height: 5rem;
}

/*.card .card-image img {
	height: 8rem;
}*/